<p>
  <strong>English:</strong>
  <%= @nation.english %>
</p>
 
<p>
  <strong>Chinese:</strong>
  <%= @nation.chinese %>
</p>

<p>
  <strong>Pinyin:</strong>
  <%= @nation.pinyin %>
</p>
<%= link_to 'Back', nations_path %>
